<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@appointment.add.headline">Créer compte rendu</h1>
    <div>
        <a routerLink="/appointments" class="btn btn-secondary" i18n="@@appointment.add.back">Retour</a>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
            <div class="form-group mb-3">
                <app-input-row [group]="addForm" field="visitDate" datepicker="datetimepicker" i18n-label="@@appointment.visitDate.label" label="Date de visite:" />
            </div>
            <div class="form-group mb-3">
                <app-input-row [group]="addForm" field="doctor" rowType="select" [options]="doctorValues" i18n-label="@@appointment.doctor.label" label="Practicien:" />
            </div>
            <div class="form-group mb-3">
                <app-input-row [group]="addForm" field="patient" rowType="select" [options]="patientValues" i18n-label="@@appointment.patient.label" label="Patient:" />
            </div>
            <div class="form-group mb-3">
                <label for="notes" i18n="@@appointment.notes.label">Compte rendu</label>
                <textarea id="notes" formControlName="notes" class="form-control" style="height: 150px;"></textarea>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary mt-4" i18n="@@appointment.add.headline">Créer compte rendu</button>
            </div>
        </form>
    </div>
</div>
