<div class="image-slider-container">
    <app-image-slider [images]="images"></app-image-slider>
</div>

<section class="about_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-md-2">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            About <span>Hospital</span>
                        </h2>
                    </div>
                    <p>
                        L'Hôpital est un établissement de santé dédié à fournir des soins médicaux avancés et compassionnels à tous les patients. Notre équipe de professionnels de la santé travaille sans relâche pour assurer le bien-être et la guérison de chaque individu. Avec des technologies de pointe et des traitements innovants, nous visons à améliorer la qualité de vie et à offrir un soutien complet à nos patients et à leurs familles.
                    </p>
                    <a href="#">
                        Read More
                    </a>
                </div>
            </div>
            <div class="col-md-6 order-md-1">
                <div class="img-box">
                    <img src="about-img.jpg" alt="About Hospital Image">
                </div>
            </div>
        </div>
    </div>
</section>
